.item {
  display: grid;
  /* grid-template-columns: auto 1fr; */
  gap: 24px;
  grid-template-areas:
    "number time time"
    "header header header"
    "images images total";
  text-decoration: none;
  color: inherit;
  background: #1c1c21;
  border-radius: 40px;
  padding: 24px;

}

.number {
  grid-area: number;
}

.time {
  grid-area: time;
  justify-self: end;
  white-space: nowrap;
}

.header {
  grid-area: header;
}

.images {
  grid-area: images;
  display: flex;
  /* max-width: 250px; */
  overflow: hidden;
  position: relative;
  padding-left: 20px;
}

.total {
  grid-area: total;
  justify-self: end;
  display: flex;
  align-items: center;
}

.imageBorder {
  list-style: none;
  display: block;
  width: 64px;
  height: 64px;
  border: 2px solid #4c4cff;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: -20px;
  background: #131316;
}
.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.status {
}

.counter{
  display: block;
  margin: 0;
  position: absolute;
  right: 18px;
  top: 30%;
  z-index: 1;

}
