/* forgot-password login  reset-password register*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 180px;;
}

.container {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.form {
  width: 100%;
  display: grid;
  margin: 0 auto;
  gap: 24px;
  place-items: center;
}

.heading {
  justify-self: center;
}


.joinform {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
  text-decoration: none;
  color: #4C4CFF;
}
