.modal {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  background-color: #000;
  opacity: 1;
  box-sizing: border-box;
  max-height: 90%;
  position: relative;
}

.button {
  background-color: #000;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  position: absolute;
  top: 65px;
  right: 40px;
}


.button:hover {
  opacity: .5;
}
