.gridStatus {
  grid-area: status;
  display: grid;
  align-content: start;
  row-gap: 16px;
  box-sizing: border-box;
  list-style: none;
  min-height: 50vh;
}

.gridTotal{
  grid-area: total;
}

.gridToday{
  grid-area: today;
}

.orders{

}

.done{

}

.done::after{
  content: 'Готовы';
  display: block;
}

.pending::after{
  content: 'В работе:';
  display: block;
}
