/* .App {

} */

.main {
  display: grid;
  grid-template-columns: repeat(2, minmax(1fr, 600px));
  column-gap: 20px;
  grid-template-areas: "title title"
                        "ingredients constructor"
                        "ingredients button";
  grid-template-rows: auto auto
                      1fr auto ;
}
