#root {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  place-content: stretch;
}

