.header {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.nav {
  display: flex;
  padding-right: 112px;
}

.item {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.button__container {
  text-align: center;
  display: flex;
}

/* .button{
  background: inherit;
  border: none;
  cursor: pointer;
} */

.button:hover {
  opacity: .5;
}

.activeLink{
  color: white;
}

.link{
  text-decoration: none;
}
